<div class="panel panel-default" ng-init="getAll('log')">
    <table class="table">
        <tbody>
            <tr>
                <th>时间</th>
                <th>来源</th>
                <th>请求方式</th>
                <th>url</th>
                <th>返回</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="log in data.logs">
                <td>{{ log.time }}</td>
                <td>{{ log.client }}</td>
                <td>{{ log.method }}</td>
                <td>{{ log.url }}</td>
                <td>{{ log.ret }}</td>
                <td><a ng-click="delete('log', log.uid)">删除</a></td>
            </tr>
        </tbody>
    </table>
</div>
