<h3>HTTP请求过滤防火墙</h3>
<hr>
<button class="btn btn-info" ng-click="openHTTPRuleModel()">添加规则</button>
<br>
<br>
<div class="panel panel-default" ng-init="getAll('rule')">
    <table class="table">
        <tbody>
            <tr>
                <th>过滤对象</th>
                <th>过滤值</th>
                <th>匹配类型</th>
                <th>策略</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="rule in data.rules">
                <td>{{ rule.key }}</td>
                <td>{{ rule.value }}</td>
                <td>{{ rule.rtype }}</td>
                <td ng-show="rule.allow">允许</td>
                <td ng-show="!rule.allow">禁止</td>
                <td>
                    <a ng-click="change('rule', rule.uid)">编辑</a>
                    <a ng-click="delete('rule', rule.uid)">删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="httpRuleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">增加新规则</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">过滤对象</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.newHTTPRule.key">
                                <option value="header">HTTP Header</option>
                                <option value="method">HTTP Method</option>
                                <option value="url">HTTP Url</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">过滤值</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="data.newHTTPRule.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">匹配类型</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.newHTTPRule.rtype">
                                <option value="contain">包含</option>
                                <option value="equal">全等</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">策略</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.newHTTPRule.allow">
                                <option value="1">允许</option>
                                <option value="0">禁止</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-primary" ng-click="addHTTPRule()">添加规则</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="changeHttpRuleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">修改规则</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">过滤对象</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.changeHTTPRule.key">
                                <option value="header">HTTP Header</option>
                                <option value="method">HTTP Method</option>
                                <option value="url">HTTP Url</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">过滤值</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="data.changeHTTPRule.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">匹配类型</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.changeHTTPRule.rtype">
                                <option value="contain">包含</option>
                                <option value="equal">全等</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-2 control-label">策略</label>
                        <div class="col-sm-6">
                            <select class="form-control" ng-model="data.changeHTTPRule.allow">
                                <option value="1">允许</option>
                                <option value="0">禁止</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-primary" ng-click="changeHTTPRule()">修改规则</button>
            </div>
        </div>
    </div>
</div>