{% include templates\header.html %}
<br><br><br><br>
<div class="container">
    <div id="logo" class="center">
        <img src="{{ static_url('images/logo.jpg') }}" alt="">
    </div>
    <div class="submitform">
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Project Name">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% include templates\footer.html %}
