{% include templates\header.html %}
<br>
<br>
<!--
<div class="container">
    <div id="logo" class="center">
        <img src="{{ static_url('images/logo.jpg') }}" alt="">
    </div>
</div>
-->
<div id="project" class="container" style="max-width: 1500px;">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Target</th>
                <th scope="col">Description</th>
                <th scope="col">Deatils</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="chall in challs">
                <td>
                    <span class="badge badge-primary">
                    {{! chall.uid.substr(0, 6) }}
                </span>
                </td>
                <td>{{! chall.name }}</td>
                <td>{{! chall.target }}</td>
                <td>{{! chall.desc }}</td>
                <td>
                    <a href="asset/{{! chall.uid }}">Asset</a>
                    <a href="vuln/{{! chall.uid }}">Vuln</a>
                </td>
                <td>
                    <i class="fa fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% include templates\footer.html %}
